{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "sort-class-members"
  ],
  "extends": [
    "plugin:@typescript-eslint/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2022,
    "sourceType": "module"
  },
  "rules": {
    "curly": "error",
    "padded-blocks": [
      "warn",
      {
        "blocks": "never",
        "classes": "never",
        "switches": "never"
      }
    ],
    "padding-line-between-statements": [
      "warn",
      {
        "blankLine": "never",
        "prev": "*",
        "next": "expression"
      },
      {
        "blankLine": "never",
        "prev": "expression",
        "next": "expression"
      },
      {
        "blankLine": "never",
        "prev": "expression",
        "next": "*"
      }
    ],
    "lines-between-class-members": [
      "error",
      "always"
    ],
    "@typescript-eslint/explicit-member-accessibility": "warn",
    "@typescript-eslint/no-empty-interface": "off",
    "@typescript-eslint/array-type": [
      "warn",
      {
        "default": "generic",
        "readonly": "generic"
      }
    ],
    "sort-class-members/sort-class-members": [
      "warn",
      {
        "order": [
          "[static-prop]",
          "[static-method]",
          "[prop]",
          "constructor",
          "[method]"
        ],
        "groups": {
          "static-prop": [
            {
              "static": true,
              "type": "property",
              "sort": "alphabetical"
            }
          ],
          "static-method": [
            {
              "static": true,
              "type": "method",
              "sort": "alphabetical"
            }
          ],
          "prop": [
            {
              "type": "property",
              "sort": "alphabetical"
            }
          ],
          "method": [
            {
              "type": "method",
              "sort": "alphabetical"
            }
          ]
        },
        "accessorPairPositioning": "getThenSet"
      }
    ]
  }
}