{
  "minify": true,
  "jsc": {
    "keepClassNames": false,
    "parser": {
      "syntax": "typescript",
      "decorators": true,
       "privateMethod": true,
    },
    "minify": {
      "mangle": true,
      "compress": true
    },
    "target": "es2022"
  },
  "isModule": true,
  "module": {
    "type": "es6",
    "strict": true,
    "strictMode": true,
    "lazy": true
  }
}