{
  "minify": true,
  "jsc": {
    "keepClassNames": true,
    "parser": {
      "syntax": "typescript",
      "decorators": true,
       "privateMethod": true,
    },
    "minify": {
      "compress": {
        "unused": true
      },
      "mangle": true
    },
    "target": "es2016"
  },
  "isModule": true
}