{
  "minify": false,
  "jsc": {
    "keepClassNames": true,
    "parser": {
      "syntax": "typescript",
      "decorators": true,
      "privateMethod": true
    },
    "minify": {
      "mangle": false,
      "compress": false
    },
    "target": "es2022"
  },
  "isModule": true,
  "module": {
    "type": "es6",
    "strict": true,
    "strictMode": true,
    "lazy": true
  }
}
